<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container mt-5 p-5" style="background: white; border-radius: 20px; width: 30rem;height: 33.5rem">
            <img th:src="@{/img/muni.png}" class="rounded mx-auto d-block " style="width: 8rem;margin-top: -1rem">
            <h1 style="font-size: 1.5rem;text-align: center; color: #0A9200; margin-top: 10px">INGRESO</h1>
            <div class="mb-3">
            <form th:action="@{/auth/main}" >
                <div class="mb-3">
                    
                    <div class="progress mb-3 mt-3" style="height: 1px; background-color: #707070" ></div>
                        
                        
                    <label for="exampleFormControlInput1" class="form-label"><h1 style="font-size: 1rem; margin-left: 3.5rem;font-weight: bolder">D.N.I.<h1 style="font-size: 1rem;color:red; margin-left: 6.5rem;margin-top: -25px;font-weight: bold">*</h1></h1></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" style="background-color: #F9F9F9; border-radius: 20px;box-shadow: 0px 3px 2px #9999; width: 18rem; margin-left: 3rem">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><h1 style="font-size: 1rem;font-weight: bolder; margin-left: 3.5rem">CONTRASEÑA <h1 style="font-size: 1rem;color:red;margin-left: 10.6rem;margin-top: -25px;font-weight: bold">*</h1></h1></label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" style="background-color: #F9F9F9; border-radius: 20px; box-shadow: 0px 3px 2px #9999; width: 18rem; margin-left: 3rem">
                </div>
                <div class=" gap-2">                    
                    <input type="submit" value="INICIAR SESIÓN" class="btn btn-primary mt-3 " style="width:13rem;margin-left: 5.5rem;background-color: #0A9200;border-radius: 20px;border-color: #DDFF00;font-weight: 600">
                </div>
            </form>
            <div class="mb-3 w-100 text-center mt-3">
                <a th:href="@{/register}" class="text-info"><h1 style="color: #5D5D5D;font-size: 1rem;margin-bottom: -1rem;font-weight: 400;">¿No tienes una cuenta?</h1></a>
                <br>
                <a th:href="@{/register}" class="text-info"> <h1 style="color: #5D5D5D;font-size: 1rem;font-weight: 400">¿Olvidaste tu contraseña?</h1> </a>
            </div>
            </div>
        </div>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
